.rate {
  display: flex;
  justify-content: space-between;
  padding: 0% 35%;
}

.rate-value {
  color: white;
  padding: 3px;
  margin-top: 1%;
  border-radius: 10%;
}

.rate-up {
  background-color: green;
}

.rate-down {
  background-color: red;
}

.rate-stall {
  background-color: darkgray;
}
