.rate-heading,
.rate-loading,
.rate-error{
  margin: auto;
  width: 26%;
  padding: 1%;
}
.rate-container{
  background: url('https://static.vecteezy.com/system/resources/previews/000/570/518/non_2x/vector-abstract-financial-chart-with-uptrend-line-graph-and-numbers-in-stock-market-on-gradient-white-color-background.jpg');
  height: 100vh
}
